src/main/mule/interface-sql-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="mysql-sapi-config" api="resource::39df91d7-f173-4299-b6d3-a5376863632f:orders-sapi:1.0.0:raml:zip:mysql-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="mysql-sapi-main">
        <http:listener config-ref="HttpsListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mysql-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\sql\orders:mysql-sapi-config">
		<flow-ref doc:name="get-orders-flow" doc:id="09d619db-cd81-48f8-a0ac-516a64951250" name="get-orders-flow" />
    </flow>
	<flow name="get:\sql\orders\(ID):mysql-sapi-config">
		<flow-ref doc:name="get-orders-by-id-flow" doc:id="df6d2244-26c1-4342-b4b7-557bb8abdb8a" name="get-orders-by-id-flow" />
    </flow>
	<flow name="post:\sql\orders:application\json:mysql-sapi-config">
		<flow-ref doc:name="post-orders-flow" doc:id="4d3dd574-32c7-4a6d-8897-56ff25d0e567" name="post-orders-flow" />
    </flow>
	<flow name="put:\sql\orders\(ID):mysql-sapi-config">
		<flow-ref doc:name="put-orders-by-id-flow" doc:id="aa3495ce-812b-4cb2-945c-5a061e095013" name="put-orders-by-id-flow" />
    </flow>
	<!-- [STUDIO:"delete:\sql\orders\(ID):mysql-sapi-config"]<flow name="delete:\sql\orders\(ID):mysql-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="642afb7f-9451-4281-991a-cb667ce90ece" />
    </flow> [STUDIO] -->
	<!-- [STUDIO:"get:\sql\payments:mysql-sapi-config"]<flow name="get:\sql\payments:mysql-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="aa6c7a61-2ad5-4fdc-a0f1-81092482f492" name="get"/>
    </flow> [STUDIO] -->
	<flow name="get:\sql\payments\(ID):mysql-sapi-config">
		<flow-ref doc:name="get-payments-by-id-flow" doc:id="bfeb0ebb-b710-4fbe-af33-009c0470a126" name="get-payments-by-id-flow"/>
    </flow>
	<flow name="post:\sql\payments:application\json:mysql-sapi-config">
		<flow-ref doc:name="post-payments-flow" doc:id="97011237-6155-4fb2-b221-eb8b7940aa2a" name="post-payments-flow"/>
    </flow>
	<flow name="put:\sql\payments\(ID):mysql-sapi-config">
		<flow-ref doc:name="put-payments-by-id-flow" doc:id="325be247-5f54-498d-8a1b-c397947b1678" name="put-payments-by-id-flow" />
    </flow>
	<!-- [STUDIO:"delete:\sql\payments\(ID):mysql-sapi-config"]<flow name="delete:\sql\payments\(ID):mysql-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="04a0f3d2-f7ad-409a-8441-2e8667a4eaf4" name="delete" />
    </flow> [STUDIO] -->
</mule>
